---
import ProjectCard from "@components/Projects/ProjectCard.astro";
import projectData from "@config/projectData.json";
import Code from "@components/Icons/Code.astro";
import Button from "@components/Button/Button.astro";
---

<section id="projects" class="w-full pb-6" data-aos="fade-up" data-aos-delay=".2">
  <div class="container pt-24 md:pt-36 lg:pt-44">
    <div class="mx-auto max-w-lg md:max-w-full md:col-span-2">
      <h2 class="h2 flex items-center">
        <Code class="mr-2 size-10 description" />
        A selection of my <span class="text-gradient ml-2">projects.</span>
      </h2>
      <p class="description mt-6 text-pretty">
        Explore a collection of my past works, where I've had the opportunity to engage in both web and mobile development.
        It has been a pleasure to craft engaging and innovative experiences across different platforms.
      </p>
    </div>
    <div class="mx-auto mt-10 max-w-lg md:mt-10 md:max-w-full">
      <div class="flex flex-wrap gap-2">
        <Button variant="ghost" class="filter-button button--active w-full sm:w-auto" data-filter="all">All</Button>
        <Button variant="ghost" class="filter-button w-full sm:w-auto" data-filter="mobile development">Mobile Development</Button>
        <Button variant="ghost" class="filter-button w-full sm:w-auto" data-filter="web development">Web Development</Button>
      </div>
      <div data-aos="zoom-in-up" data-aos-delay=".2" class="grid gap-x-4 gap-y-8 md:grid-cols-2 mt-6 project-container">
        {projectData.map((project) => (
            <ProjectCard {...project} data-type={project.type} class="project-card" />
        ))}
      </div>
    </div>
  </div>
</section>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.filter-button');
    const projectCards = document.querySelectorAll('.project-card');

    buttons.forEach(button => {
      button.addEventListener('click', () => {
        const filter = button.getAttribute('data-filter');

        projectCards.forEach(card => {
          if (filter === 'all' || card.getAttribute('data-type') === filter) {
            card.style.display = '';
          } else {
            card.style.display = 'none';
          }
        });

        buttons.forEach(btn => btn.classList.remove('button--active'));
        button.classList.add('button--active');
      });
    });
  });
</script>
