---
import { Image } from 'astro:assets';
import heroImage from '@assets/images/asier-ortiz.webp';
import siteData from '@config/siteData.json';
---

<section id="hero" class="relative flex w-full" data-aos="fade-up">
  <div class="container grid items-center gap-10 pt-24 md:pt-36 lg:pt-44 md:grid-cols-3 md:gap-20">
    <div class="mx-auto max-w-lg md:col-span-2 md:ml-0 md:max-w-full">
      <h1 class="h1">Hey, I'm <span class="text-gradient">{siteData.author.name}</span></h1>
      <p class="description mt-6 text-pretty">
        A Web Developer passionate about building modern, efficient, and AI-powered applications.
        <span class="description text-pretty font-semibold text-primary-300">
          With over 5 years of experience
        </span>
        in programming, I specialize in creating seamless user experiences and scalable backend systems.
        Lately, I’ve been expanding my expertise into Machine Learning and AI, exploring how models can
        drive smarter applications. From development to model deployment, I love crafting solutions that
        make an impact.
      </p>
    </div>
    <div class="mx-auto max-w-sm md:col-span-1 md:max-w-full">
      <div class="aspect-square overflow-hidden rounded-full animate-glow relative z-10">
        <Image
          src={heroImage}
          class="w-full object-cover rounded-full fade-in"
          alt="asier ortiz profile"
          loading="eager"
          width={600}
          densities={[1.5, 2]}
          oncontextmenu="return false"
        />
      </div>
    </div>
  </div>
</section>

<style lang="scss">

  /* Large desktops and monitors */
  @media (min-width: 1200px) {
    #hero .max-w-sm {
      max-width: 100%;
    }
  }

  /* Tablets in landscape mode */
  @media (max-width: 1199px) and (min-width: 992px) {
    #hero .max-w-sm {
      max-width: 70%;
    }
  }

  /* Tablets in portrait mode and small desktops */
  @media (max-width: 991px) and (min-width: 768px) {
    #hero .max-w-sm {
      max-width: 70%;
    }
  }

  /* Smartphones in landscape mode */
  @media (max-width: 767px) and (min-width: 576px) {
    #hero .max-w-sm {
      max-width: 40%;
    }
  }

  /* Smartphones in portrait mode */
  @media (max-width: 575px) {
    #hero .max-w-sm {
      max-width: 40%;
    }
  }
</style>

<script is:inline>
  document.addEventListener('DOMContentLoaded', () => {
    const img = document.querySelector('img.fade-in');
    if (!img) return;

    if (img.complete) {
      img.classList.add('loaded');
    } else {
      img.addEventListener('load', () => {
        img.classList.add('loaded');
      });
    }
  });
</script>
