---
import BackgroundItem from "@components/Background/BackgroundItem.astro";
import backgroundData from "@config/backgroundData.json";
import Academic from "../Icons/Academic.astro";
---

<section id="background" class="w-full pb-6" data-aos="fade-up" data-aos-delay=".2">
    <div class="container grid items-start gap-10 pt-24 md:pt-36 lg:pt-44 md:grid-cols-3 md:gap-20">
        <div class="mx-auto max-w-lg md:col-span-2 md:ml-0 md:max-w-full">
            <h2 class="h2 flex items-center">
                <Academic class="mr-2 size-10 description" />
                Academic <span class="text-gradient ml-2">background.</span>
            </h2>
            <ol class="mt-10 ml-4">
                {backgroundData.map((backgroundItem) => (
                        <li><BackgroundItem {...backgroundItem}/></li>
                ))}
            </ol>
        </div>
    </div>
</section>
